@tailwind base;
@tailwind components;
@tailwind utilities;

/* 你的自定义样式 */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

aside {
  position: sticky;
  top: 0;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.hide-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}